*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans';
    background-color: aquamarine;
}
html{
    font-size: 62.5%;
}
.container{
    display: flex;
    width: 60rem;
    height: 60rem;
    border-radius: 1rem;
    background-color: black ;
    box-shadow: 10px rgba(0, 0, 0, 0.473);
}
.title__Discription{
    display: flex;
    flex-direction: column;
    color: black;
    clip-path: polygon(88% 0, 100% 52%, 85% 100%, 0 100%, 0 0);
    background-color: #fff;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 2rem;
    width: 50%;
}
.container__discription{
    margin-top: 30%;
}


  
.logo{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-left: 30%;
}
.title__company{
    font-size: 2.5rem;
    margin-left: 15%;
    padding: 1.3rem;
}
.form__Container{
    margin-top: 7%;
    margin-left: 3rem;
    color: #fff;
}
.Discription{
    font-size: 1.4rem;
    letter-spacing: .2rem;
}
.text__item{
    font-size: 2rem;
    margin-top: 1rem;
}
.input{
    width: 85%;
    height: 3rem;
    outline: none;
    border-radius: .3rem;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #f8f8f8;
}
option{
    border-bottom: 1px solid black;
    color: black;
}
.register__now{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 70%;
    height: 3.5rem;
    border-radius: .5rem;
    border: none;

   background-color: #fff;
   color: black;
   font-size: 2rem;
   
   cursor: pointer;
}
.input__Industry--type{
    width: 85%;
    height: 3rem;
    outline: none;
    border-radius: .3rem;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

@media screen and (max-width: 768px) {
    body{
        margin-top: 5rem;
        height: auto;
    }
    .logo{
    
        border-radius: 50%;
        margin-left: 5%;
    }
    .title__logo{
        display: flex;
    }
    .container__discription{
        margin-top: .3rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: auto;
        padding: 1rem;
    }
    .title__Discription{
        display: flex;
        flex-direction: column;
        color: black;
        background-color: #fff;
        clip-path: polygon(100% 0, 100% 86%, 52% 100%, 0 85%, 0 0);
        width: 100%;
    }
    .title__company{
        font-size: 2.5rem;
        margin-left: 10%;
        padding-top: 1rem;
    }
    .form__Container{
        margin-top: 7%;
        margin-left: 2.7rem;
        color: #fff;
    }
  }
  
